@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
 box-sizing: border-box;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }

  .header{
    background-color: #9EC6A2;
  }

  .nav {
  	list-style-type: none;
  	padding: 0;
  	clear: both;
  	text-align:center;
  	color:#ffffff;
  	margin:0;
  }

  .nav li {
    display: inline-block;
  }

li{
  display: block;
  text-decoration: none;
}

  nav a {
 color: white;
 text-decoration: none;
}

.logo {
text-align: center;
  width: 50%;
  }

.font2{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.image {
width: 100%;
position: relative;
overflow:hidden;
}

.billboard {
  position: relative;
  width: 100%;
  margin: 0;
  }

  .text {
  text-align: center;
  position: absolute;
  bottom: 6em;
  left: 0;
  width: 100%;
  padding: 1em;
  margin: 0;
  color: white;
}

.text2{
  text-align: center;
  position: absolute;
  bottom: 0.7em;
  left: 0;
  width: 100%;
  padding: 1em;
  margin: 0;
}

.button2 {
	font-size: 1.6em;
	font-family: sans-serif;
	color: white;
	cursor: pointer;
	width: 235px;
	height: 60px;
	text-align:center;
	border: white solid 2px;
  border-radius: .5em;
	background: transparent;
  position: relative;
  bottom: 2.8em;
}

.intro{
  background-color: #9EC6A2;
}

.gutter{
  margin: 0;
  width: 100%;
}
